name: Coveralls

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'
  push:
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install packages
        run: sudo apt-get install build-essential gcc clang meson lcov libsystemd-dev libselinux1-dev
      - name: Setup
        run: meson setup builddir/ -Db_coverage=true
      - name: Compile with (${{ env.CC }})
        run: meson compile -C builddir/ -v
      - name: Test
        run: meson test -C builddir/ -v
      - name: Coverage
        run: ninja -C builddir/ coverage
      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: builddir/meson-logs/coverage.info
