# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: flawfinder

on:
  push:
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]
    paths:
      - 'meson.build'
      - '.github/workflows/**'
      - '**.c'
  schedule:
    - cron: '23 10 * * 3'

jobs:
  flawfinder:
    name: Flawfinder
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - name: flawfinder_scan
        uses: david-a-wheeler/flawfinder@c57197cd6061453f10a496f30a732bc1905918d1
        with:
          arguments: '--sarif ./'
          output: 'flawfinder_results.sarif'

      - name: Upload analysis results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@75f07e7ab2ee63cba88752d8c696324e4df67466
        with:
          sarif_file: ${{github.workspace}}/flawfinder_results.sarif
