on: push

name: Check SHAs

permissions:
  contents: read

jobs:
  check_shas:
    name: Check SHAs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - name: Ensure SHA Pinned Actions
        # You may pin to the exact commit or the version.
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@19ebcb0babbd282ae1822a0b9c28f3f1f25cea45 # v3.0.4
        # uses: zgosalvez/github-actions-ensure-sha-pinned-actions@v1.1.1
