on: push

name: Check SHAs

permissions:
  contents: read

jobs:
  check_shas:
    name: Check SHAs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - name: Ensure SHA Pinned Actions
        # You may pin to the exact commit or the version.
        uses: zgosalvez/github-actions-ensure-sha-pinned-actions@f32435541e24cd6a4700a7f52bb2ec59e80603b1 # v2.1.4
        # uses: zgosalvez/github-actions-ensure-sha-pinned-actions@v1.1.1
